.hidden {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  color: #fff;
  background-color: #00508a;
  padding: 10px;
  position: absolute;
  top: 40%;
  width: 100%;
}

.modal-btn {
  border: 2px solid #fff;
  background: #00508a;
  color: #fff;
  margin: 5px;
  padding: 5px;
  height: 25px;
  float: right;
}

#revert {
  background: #0061b0;
}

.center {
  width: 50%;
  margin: 0 auto;
}

#calibrate-container {
  cursor: pointer;
}

section {
  display: none;
}

.is-shown {
  display: block;
}

.nav-btn {
  width: 100px;
  height: 50px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  cursor: pointer;
}

.is-active {
  background: #00508a;
  color: #fff;
}